### Gradle template
resources/chromedriver.*
./target/
*.log
build/
bin/
.idea
*.iml
gradlew
gradlew.bat
# Ignore Gradle GUI config
gradle-app.setting
/bin/.*
# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
./secrets.groovy
# Cache of project
/build
/.idea
.gradletasknamecache
.gradle
*.log
# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
# Created by .ignore support plugin (hsz.mobi)

/out
bash.exe.stackdump
